
.active::after {
    content: '';
    position: relative;
    background-image: linear-gradient(to right, #a2ff00, #00ff08);
    width: 80%;
    height: 4px;
    margin: 4px;
    transform: skew(-30deg);
    transition: all 500ms linear;
}

.active {
    font-weight: bold;
}

thead tr, tbody tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

tbody tr td {
    text-align: center;
}

tbody tr td, tbody tr th {
    width: max-content;
}

#box section {
    max-height: 80vh;
}