/* details
nutritionals
ingredients */

#details li:nth-child(1) button::after, 
#nutritionals li:nth-child(2) button::after, 
#ingredients li:nth-child(3) button::after {
    content: '';
    position: relative;
    background-image: linear-gradient(to right, #a2ff00, #00ff08);
    width: 80%;
    height: 4px;
    margin: 4px;
    transform: skew(-30deg);
}

.active::after {
    content: '';
    position: relative;
    background-image: linear-gradient(to right, #a2ff00, #00ff08);
    width: 80%;
    height: 4px;
    margin: 4px;
    transform: skew(-30deg);
}

.active {
    font-weight: bold;
}