
.active::after {
    content: '';
    position: relative;
    background-image: linear-gradient(to right, #a2ff00, #00ff08);
    width: 80%;
    height: 4px;
    margin: 4px;
    transform: skew(-30deg);
    transition: all 500ms linear;
}

.active {
    font-weight: bold;
}

#tbody tr {
    display: block;
}

.el {
    color: #002fff;
    background-color: #0b3216;
}